header {
    position: absolute;
    width: 100%;
    top: 35vh;
}

header video {
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: fill; 
}
video {
    filter:brightness(75%);
}

#home-content {
    text-align: center;
    color: white;
}

#home-content .btn-default {
    margin-top: 1%;
    color:white;
    border-color: white;
} 

#cv-button {
    padding-left: 3vh;
    padding-right: 3vh;
}

i {
    padding: 20%;
}

#about-content {
    padding-top: 1%;
    text-align: center;
}

.navbar {
    position: fixed; 
}

.row{
    padding-bottom: 5%;
}


#contactme-content {
    text-align: center;
}

input[type=text], textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    margin-bottom: 10px; 
  }
  
input[type=submit] {
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    padding: 5%;
    text-align: center;
}

/* CV Page */
#cv-title {
    padding-top:2vh; 
}
